---
---

@import "minima";

.site-title::before {
    content: url("/skills-github-pages/181823482.jpg");
    display: inline-block;
    position: relative;
    width: 37px;
    top: 5px;
}

span.rev { unicode-bidi:bidi-override; direction:rtl }
span.rev.email:before { content:"liamg" }
span.rev.email:after { content:"@ray29 :liamE" }
span.rev.phone:before { content:"353 912 " }
span.rev.phone:after { content:" 33+ :enohP" }