--- --- @import "minima";

.site-title::before {
    content: url("/skills-github-pages/181823482.jpg");
    display: inline-block;
    position: relative;
    width: 37px;
    top: 5px;
}

span.rev {
    unicode-bidi: bidi-override;
    direction: rtl
}

span.rev.email:before {
    content: "moc."
}

span.rev.email:after {
    content: "@ray29annay :liamE"
}

span.rev.phone:before {
    content: "353 912 "
}

span.rev.phone:after {
    content: " 33+ :enohpeleT"
}

body {
    background-image: url('/skills-github-pages/kx8MT.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}